@import 'normalize.css';
@import 'variables';

@import url(https://fonts.googleapis.com/css?family=Alegreya:400);
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400);

:global {
  html {
    font-family: 'Alegreya', serif;
    font-size: 7vmin;
    height: 100%;
  }

  body {
    background: $background-color;
    color: $text-color;
    cursor: default;
    height: 100%;
    position: relative;
    user-select: none;
  }
}
