@import 'variables';

.slot {
  display: inline-block;
  margin: 0 0.3vmin;
  transition: color 0.5s;

  &:after {
    background: $text-color;
    content: '';
    display: block;
    height: 0.3vmin;
    margin-left: 5%;
    opacity: 0.25;
    transition: background 0.5s;
    width: 90%;
  }
}

.solved {
  color: $solved-color;

  &:after {
    background: $solved-color !important;
  }
}
