@import '../styles/variables';

.guess {
  display: inline-block;
  font-family: 'Inconsolata', monospace;
  margin: 9vmin 0;
}

.populated {
  cursor: pointer;
}

.solved {
  color: $solved-color;

  div:after {
    background: $solved-color !important;
  }
}
